<div>
  <figure class="attachment  mt-5 attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
    <% if blob.representable? %>
      <%= image_tag(rails_blob_path(blob, disposition: "attachment"), :width => 600, :height => 700, alt: 'Image')%>
    <% end %>

    <figcaption class="attachment__caption">
      <% if caption = blob.try(:caption) %>
        <%= caption %>
      <% else %>
        <span class="attachment__name"><%= blob.filename %></span>
        <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
      <% end %>
      <%= link_to "Download", rails_blob_path(blob, disposition: "attachment"),class: 'btn btn-primary btn-sm ms-3' %>
    </figcaption>
  </figure>
</div>
