<h2 class='heading-before-table'>All Study Material</h2> 
<% if current_user.teacher? %>
  <div class="titlebar-right teacher-students-form">
    <%= link_to 'New Study Material', new_grade_material_path, class: 'remove-underline' %>
  </div>
<% end %>
<br>
<% row_number = 0 %>
<div class='container mt-3 me-5'>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Link</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      <% @grade_materials.each do |grade_material| %>
        <% cache([current_user, grade_material]) do %>
        <tr>
          <th scope="row"><%= row_number += 1 %></th>
          <td><%= grade_material.title %></td>
          <td><a href='/grade_materials/<%= grade_material.id %>'class='nav-item mt-2 mx-0 mx-lg-1'>See Course Material</a></td>
          <td>
            <% if can? :edit, grade_material %>
              <li><%= link_to 'Edit Material', edit_grade_material_path(grade_material) %></li>
              <li><%= link_to 'Destroy Material', grade_material_path(grade_material), :method => :delete %></li>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
